
/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'source-sans-pro';
  line-height: 1.6;
}

.hero {
  background: url('images/headphones_hero_1.jpg') no-repeat center center/cover;
  color: white;
  padding: 4rem 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li {
  cursor: pointer;
}

.hero-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-content button {
  background-color: #FF5E57;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 1rem;
  
}
button:hover :active {
    opacity: 0.0;
}

.services {
  text-align: center;
  padding: 3rem 1rem;
}

.service-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.service img {
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

.service h3 {
  margin-bottom: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* space between icon and text */
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff; /* or any color you like */
}

.logo img {
  width: 24px;  /* adjust size as needed */
  height: auto;
}
